* {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-columns: minmax(110px, 22vw) auto;
}
#file-manager{
  grid-row: 1;
  grid-column: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.87);
}
#file-container {
  height: 100%;
}
#file-list {
  padding: 0px 5px;
  height: inherit;
  list-style-type: none;
  overflow-y: scroll;
  background-color: rgba(37, 37, 37, 0.911);
}
.file{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
}
.file-details{
  width: 100%;
  height: auto;
  margin-right: 5px;
  padding: 2px 5px;
  background-color: rgb(75, 74, 74);
  color: white;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  border-color: rgb(161, 161, 161);
  border-radius: 5px;
  
}
.file-details:hover {
  background-color: rgba(102, 102, 102, 0.986);
}
.file-details.selected{
  border-width: 0px 1px 1px 0px;
}
#file-options{
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.options-btn{
  margin: 2px;
  height: 20px;
  width: 100%;
}
#waveforms {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-row: 1;
  grid-column: 2;
}
#waveforms canvas {
  width: 100%;
  height: auto;
}
#control-bar {
  background-color: rgba(0, 0, 0, 0.87);
  grid-row: 2;
  grid-column: span 2;
  display: grid;
  grid-template-columns: minmax(110px, 22vw) auto;
}
#controls {
  grid-column: 1;
  align-self: center;
  text-align: center;
}
#controls button{
  padding: 2px;
}
#timer {
  padding: 5px 15px;
  grid-column: 2;
  align-self: center;
  text-align: center;
  color: white;
}
#time-scroll {
  width: 100%;
}
